body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    overflow-x: hidden;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0e0e0e;
    z-index: 9999;
  }
  
  .imagemLogo img,
  header > img {
    width: 100px;
    height: 100px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ecede3;
  }
  
  nav {
    margin-left: auto;
  }
  
  .banner {
    background-image: url('../images/vista-aerea-das-arvores-verdes-vibrantes-na-floresta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 850px;
    position: relative;
    background-attachment: fixed;
  }
  
  .registration-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    margin: 0 auto; /* Centraliza o container na página */
  }
  
  #registrationForm .label-float label {
    color: black;
    font-weight: 100%;
    margin: 10px;
  }
  
  #registrationForm .label-float input {
    color: black;
    background-color: #f5f5f5;
    border: 1px solid black;
    width: 90%;
    padding: 5px;
    border-radius: 40px;
    font-size: larger;
    margin: 5px;
  }
  
  #registrationForm .justify-center {
    text-align: center;
    margin-top: 15px;
  }
  
  #registrationForm button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 40px;
  }
  
  #registrationForm button:hover {
    background-color: #333333;
  }
  
  footer {
    background-color: black;
    color: #ECEDE3;
    padding: 20px;
    text-align: left;
  }

  footer img {
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  