body,
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625em;
  background-color: #0e0e0e;
  width: 100%;
}

.imagemLogo img,
header > img {
  width: 6.25em;
  height: 6.25em;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 3em;
}

nav ul li {
  margin: 0.625em;
}

nav ul li a {
  text-decoration: none;
  color: #ecede3;
}

nav {
  margin-left: auto;
}

.menu{
    list-style: none;
  }
  
  .menu li {
    position: relative;
    float: left;
  }
  
  .menu li a {
    color: #ecede3;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
  }
  
  .menu li a:hover {
    color: #fff;
    text-shadow: 0px 0px 5px #fff;
  }
  
  .menu li ul {
    position: absolute;
    top: 100%; /* alterado para posicionar o submenu abaixo do item de menu */
    left: 0;
    background-color: #0e0e0e;
    display: none;
    list-style: none; /* adicionado para remover a marcação de lista */
    padding: 0; /* adicionado para remover o espaçamento interno */
    z-index: 1; /* para o menu ficar por cima do segundo backgroud*/
  }
  
  .menu li:hover > ul {
    display: block; /* alterado para apenas exibir o submenu do item de menu atualmente em foco */
  }
  
  .menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
    position: relative; /* alterado para manter o submenu alinhado corretamente */
  }
  
  .menu li ul li a {
    padding: 5px; /* alterado para ajustar o espaçamento interno */
  }
  
  .menu li ul li a:hover {
    background-color: #ecede3; /* adicionado para destacar o item do submenu quando hover */
    color: #000; /* adicionado para garantir a legibilidade do texto */
    }
    
.cadastro ul li {
      background-color: #ecede3;
      padding: 0.625em;
      padding-left: 1.25em;
      padding-right: 1.25em;
      margin-bottom: 1.25em;
      border: solid black 1px;
      border-radius: 8.75em;
      display: flex;
      justify-content: center;
    }
    
.cadastro ul li a {
      color: #0e0e0e;
    }

.cadastro ul li a:hover, .login ul li a:hover {
      text-shadow: 0 0 5px #0e0e0e;
}

.banner {
  position: relative;
  height: 850px;
}

.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner .additional-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 80%;
  background-color: #0e0e0e;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primeiraSessao {
    background-image: url('../images/vista-aerea-das-arvores-verdes-vibrantes-na-floresta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    position: relative;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .primeiraSessao > img {
    width: 300px;
    height: 120px;
    padding-top: 40px;
    align-content: center;
  }

footer {
    background-color: black;
    color: #ecede3;
  }
  
footer img {
    width: 18.75em;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
.nomes {
    padding-top: 0.625em;
    margin-left: 1.25em;
  }
  
.linhaFinal {
    text-align: center;
    font-size: 0.5em;
    background-color: rgb(16, 16, 16);
    margin-bottom: 0;
    padding-bottom: 0;
  }
