body,
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 100%;
  display: absolute;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625em;
  background-color: #0e0e0e;
  width: 100%;
}

.imagemLogo img,
header > img {
  width: 6.25em;
  height: 6.25em;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 0.625em;
}

nav ul li a {
  text-decoration: none;
  color: #ecede3;
}

nav {
  margin-left: auto;
}

.cadastro ul {
  display: block;
}

.cadastro ul li {
  background-color: #ecede3;
  padding: 0.625em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin-bottom: 1.25em;
  border: solid black 1px;
  border-radius: 8.75em;
  display: flex;
  justify-content: center;
}

.cadastro ul li a {
  color: #0e0e0e;
}

.primeira {
  height: 45em;
}

.imagemCentral img {
  width: 90em;
  
}

.primeiraParte {
  display: flex;
  justify-content: center;
  gap: 3.75em;
  margin-top: 3.125em;
  margin-bottom: 6.25em;
}

.caixa {
  position: relative;
  width: 18.75em;
  height: 18.75em;
  border: 0.625em dashed #0e0e0e;
  border-radius: 0.625em;
  padding: 0.625em;
}

.caixa img {
  width: 3.75em;
  margin-left: 50%;
  transform: translateX(-50%);
}

.caixa h1 {
  text-align: center;
  font-size: 0.9375em;
}

.segundo img {
  margin-top: 2.5em;
}

.terceiro img {
  width: 5.625em;
  margin-top: 3.125em;
}

.segundaParte {
  text-align: center;
}

.cor {
  background-color: #ecede3;
}

.segundaParte div {
  padding: 0.3125em 0 0.3125em 0;
}

.terceiraImagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terceiraImagem img {
  width: 15.625em;
}

.balao {
  padding: 1.25em;
  width: 31.25em;
  background-color: #ecede3;
  border-radius: 1.25em;
  margin-left: 50%;
  transform: translateX(-50%);
}

.quartaParte h3 {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 5.625em;
  padding: 1.25em;
  background-color: #ecede3;
  width: 25em;
  text-align: center;
  border-radius: 1.875em;
}

.quartaParte img {
  width: 15.625em;
  margin-left: 50%;
  transform: translateX(-50%);
}

.elementos {
  display: flex;
  justify-content: center;
  gap: 3.75em;
  margin-top: 3.125em;
  margin-bottom: 6.25em;
  width: 62.5em;
  margin-left: 50%;
  transform: translateX(-50%);
}

.elementos div {
  background-color: #ecede3;
  padding: 1.875em;
  border-radius: 2.5em;
}

.ultimaParte {
  background-color: #ecede3;
  padding: 1.25em;
}

.ultimaParte img {
  width: 9.375em;
}

.ultimaParte p {
  text-align: center;
}

footer {
  background-color: black;
  color: #ecede3;
}

footer img {
  width: 18.75em;
  margin-left: 50%;
  transform: translateX(-50%);
}

.nomes {
  padding-top: 0.625em;
  margin-left: 1.25em;
}

.linhaFinal {
  text-align: center;
  background-color: rgb(16, 16, 16);
}
